@page "/categories"
@inherits IndexModel
@using Project.App.Components
@using Project.Domain.Models

<PageHeader Icon="fas fa-bars">
    <Title>Categorias</Title>
    <Actions>
        <Button Text="Nova Categoria" Color="blue" Url="/categories/create" />
    </Actions>
</PageHeader>


@if (CategoriesList != null)
{
    <SectionBox>
        <DataTable T="Category" Items="CategoriesList" Context="item">
            <DataTableHeader>
                <th><DisplayName T="Category" Name="@nameof(Category.Id)" /></th>
                <th><DisplayName T="Category" Name="@nameof(Category.Name)" /></th>
                <th><DisplayName T="Category" Name="@nameof(Category.CreatedOn)" /></th>
                <th><DisplayName T="Category" Name="@nameof(Category.Active)" /></th>
            </DataTableHeader>

            <DataTableBody>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.CreatedOn</td>
                <td>@item.Active </td>
            </DataTableBody>
        </DataTable>
    </SectionBox>
}
else
{
    <SectionBox>
        <p class="m-0">Nenhum item a ser exibido.</p>
    </SectionBox>
}